.root {
    composes: gap-y-md from global;
    composes: block from global;
    composes: justify-center from global;
    composes: text-left from global;

    @apply px-4 py-lg lg_px-6 lg_pt-20 3xl_pt-24 overflow-hidden;
}

.header {
    composes: font-serif from global;
}

.contentContainer {
    composes: lg_border-2 from global;
    composes: lg_border-solid from global;
    composes: lg_border-subtle from global;
    composes: lg_rounded-box from global;

    @apply bg-white pb-2 lg_pb-4 w-full max-w-[980px] rounded-xl border-0 shadow-[0_2px_8px_rgba(0,0,0,0.1)] mx-auto;
}
