.root {
    composes: grid from global;
    composes: gap-y-md from global;
    composes: px-sm from global;
    composes: py-md from global;
    composes: md_px-lg from global;
    composes: lg_px-md from global;

    @apply flex -lg_flex-col-reverse;
}

.sidebar {
    composes: lg_flex from global;
    composes: lg_self-start from global;
    flex: 0 0 280px;

    @apply flex-col lg_mr-8;
}

.content {
    composes: lg_flex-grow from global;
}

.account_content {
    @apply bg-white rounded-xl p-4 lg_p-6 shadow-[0_2px_8px_rgba(0,0,0,0.1)] mb-10;
}

.title {
    composes: font-bold from global;
    composes: justify-self-center from global;

    @apply w-full font-bold text-left text-primary-deep text-xl lg_text-2xl mb-4;
}

.accountDetails {
    composes: block from global;
}

.lineItemsContainer {
    composes: leading-normal from global;

    @apply block md_flex md_grid-cols-2 w-full md_flex-wrap;
}

.lineItemsContainer > div {
    @apply md_w-1/2 mb-4;
}

.lineItemLabel {
    composes: font-bold from global;
}

.nameLabel,
.emailLabel,
.passwordLabel {
    composes: font-bold from global;
    @apply block mb-1;
}

.emailValue {
    @apply break-words;
}

.editButtonContainer {
    grid-column: 1 / span 1;
    composes: text-center from global;

    @apply mt-4 md_text-right;
}

.editInformationButton {
    composes: root_highPriority from '@magento/venia-ui/lib/components/Button/button.module.css';

    @apply rounded-md bg-accent-green border-accent-green normal-case text-base p-[10px] transition-all
        hover_bg-accent-green hover_border-accent-green hover_shadow-[0_4px_12px_rgba(74,74,74,0.2)] hover_translate-y-[-2px];
}

.headerText {
    @apply text-lg lg_text-xl font-bold text-text-primary mb-3 block;
}
