.root {
    composes: bg-white from global;
    composes: gap-1 from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: justify-center from global;
    composes: px-0 from global;
    composes: py-xs from global;
    composes: text-center from global;
    grid-auto-columns: minmax(2rem, auto);

    @apply rounded-xl px-4 shadow-[0_2px_8px_rgba(0,0,0,0.1)];
}
