.root {
    composes: gap-0 from global;
    composes: grid from global;
    composes: justify-items-stretch from global;
    composes: px-sm from global;
    composes: py-xs from global;
}

.forgotPassword {
    composes: block from global;
    composes: text-error from global;
    composes: text-sm from global;
    composes: underline from global;
}

.form {
    composes: grid from global;

    @apply gap-y-2;
}

.modal {
    composes: absolute from global;
    composes: bg-subtle from global;
    composes: bottom-0 from global;
    composes: h-full from global;
    composes: text-center from global;
    composes: w-full from global;
    composes: invisible from global;
}

.modal_active {
    composes: modal;
    composes: opacity-90 from global;
    @apply visible;
}

.buttonsContainer {
    composes: gap-sm from global;
    composes: block from global;
    composes: grid-flow-row from global;
    composes: justify-center from global;
    composes: my-xs from global;
    composes: w-full from global;
}

.buttonsContainer button {
    @apply block w-full rounded-input normal-case text-base p-[10px];
}

.forgotPasswordButtonContainer {
    @apply block text-center w-full;
}

.forgotPasswordButton {
    composes: root from '@magento/venia-ui/lib/components/LinkButton/linkButton.module.css';
    composes: p-0 from global;

    @apply text-accent-orange hover_no-underline transition-all;
}

.logo {
    @apply my-2 lg_my-4;
}

.title {
    composes: pt-2xs from global;

    @apply font-bold text-primary-deep text-xl lg_text-2xl mb-4;
}

div[data-role="signInInfoBlock"] > h2,
div[data-role="signInText"] h3 {
    @apply font-bold text-primary-deep text-xl text-left lg_text-2xl pt-2xs mt-0 mb-4 normal-case;
}

div[data-role="signInInfoBlock"] > h2 a,
div[data-role="signInText"] h3 a {
    @apply no-underline;
}

.title_small,
div[data-role="signInText"] h6 {
    @apply font-bold text-primary-deep;
}

.root_container {
    @apply lg_flex items-center;
}

.root_container > div {
    @apply lg_w-1/2;
}

.info {
    @apply px-4 pt-4 lg_px-6 lg_pt-6;
}

.info > div {
    @apply p-0 m-0;
}

.info_block,
div[data-role="signInInfoBlock"] {
    @apply p-4 lg_px-6 rounded-lg border bg-neutral-light mb-4 lg_mb-1;
}

.text_block,
div[data-role="signInText"] {
    @apply mt-4 mb-2 p-4 lg_px-6 rounded-lg bg-white shadow-[0_2px_8px_rgba(0,0,0,0.1)];
}

div[data-role="signInText"] h6,
div[data-role="signInText"] p {
    @apply text-sm m-0;
}
