.root {
    composes: gap-sm from global;
    composes: grid from global;
    composes: justify-items-stretch from global;
    composes: px-sm from global;
    composes: py-xs from global;
}

.forgotPassword {
    composes: block from global;
    composes: text-error from global;
    composes: text-sm from global;
    composes: underline from global;
}

.form {
    composes: grid from global;

    @apply gap-y-2;
}

.modal {
    composes: absolute from global;
    composes: bg-subtle from global;
    composes: bottom-0 from global;
    composes: h-full from global;
    composes: text-center from global;
    composes: w-full from global;
    composes: invisible from global;
}

.modal_active {
    composes: modal;
    composes: opacity-90 from global;
    @apply visible;
}

.buttonsContainer {
    composes: gap-sm from global;
    composes: block from global;
    composes: grid-flow-row from global;
    composes: justify-center from global;
    composes: my-xs from global;
    composes: w-full from global;

    button {
        @apply block w-full rounded-input normal-case text-base p-[10px];
    }
}

.forgotPasswordButtonContainer {
    @apply block text-center w-full;
}

.forgotPasswordButton {
    composes: root from '@magento/venia-ui/lib/components/LinkButton/linkButton.module.css';
    composes: p-0 from global;

    @apply text-accent-orange hover_no-underline transition-all;
}

.title {
    composes: pt-2xs from global;
    composes: text-lg from global;

    @apply font-bold text-primary-deep text-xl lg_text-2xl mb-4;
}
