.root {
    composes: gap-y-md from global;
    composes: grid from global;
    composes: justify-center from global;
    composes: text-center from global;
    grid-template-columns: minmax(auto, 512px);
    @apply px-4 py-lg lg_px-6 lg_pt-20 3xl_pt-24 overflow-hidden;
}

.header {
    composes: font-serif from global;
}

.contentContainer {
    composes: lg_pb-md from global;
    composes: lg_rounded-box from global;

    @apply bg-white border-0 p-4 lg_p-6 rounded-xl shadow-[0_2px_8px_rgba(0,0,0,0.1)];
}
