.root {
    composes: flex from global;
    composes: flex-col from global;
    composes: items-center from global;
    composes: justify-center from global;

    @apply py-10 lg_p-0 lg_h-[calc(100vh-200px)];
}

.title {
    composes: font-semibold from global;
    composes: text-colorDefault from global;
    composes: text-center from global;
}

.categories {
    composes: mt-md from global;
}

.list {
    composes: mt-xs from global;
}

.listItem {
    composes: mb-2xs from global;
    composes: text-center from global;
    composes: underline from global;

    composes: last_mb-0 from global;
}

.imageContainer {
    composes: mb-md from global;
}

.image {
    composes: h-[200px] from global;
    composes: max-w-[200px] from global;
    composes: w-[200px] from global;
}
