.container {
    @apply relative;
}

.input {
    composes: input from '@magento/venia-ui/lib/components/TextInput/textInput.module.css';
    @apply flex gap-x-4 w-full min-h-[40px] cursor-pointer;
}

.input:before {
    @apply [content:'-'] absolute left-[50%] top-2 translate-x-[-50%];
}

.input input {
    @apply w-[calc(50%-4px)] text-sm pointer-events-none text-center;
    @apply outline-none !important;
}

.range {
    @apply absolute left-[-16px] md_left-0 top-[40px] border bg-white z-10;
    box-shadow: 0 1px 6px rgb(var(--venia-global-color-gray-900) / 0.2);
}

.container [class="rdrDateDisplayWrapper"] {
    @apply sr-only;
}

.clear {
    @apply absolute top-[-23px] right-2 text-sm text-primary-navy underline cursor-pointer;
}
