.root {
    composes: gap-x-xs from global;
    composes: grid from global;
    composes: grid-cols-autoFirst from global;
    composes: overflow-hidden from global;

    grid-template-rows: auto auto 1fr;
    transition-delay: 64ms;
    transition-duration: 384ms;
    transition-property: opacity, visbility;
    transition-timing-function: var(--venia-global-anim-standard);
}

.root_visible {
    composes: root;

    composes: h-auto from global;
    composes: mt-sm from global;
    composes: opacity-100 from global;
    composes: visible from global;
}

.root_hidden {
    composes: root;

    composes: h-0 from global;
    composes: invisible from global;
    composes: mt-0 from global;
    composes: opacity-0 from global;
}

.imageRoot {
    composes: h-full from global;
}

.thumbnail {
    composes: bg-transparent from global;
    composes: border from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: h-full from global;
    composes: object-contain from global;
    composes: object-center from global;
    composes: rounded-sm from global;

    @apply min-w-[80px];
}

.name {
    composes: font-semibold from global;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.quantity {
    composes: md_mt-xs from global;
    composes: text-sm from global;
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;

    @apply -md_pt-[2px];
}

.options {
    composes: gap-2xs from global;
    composes: grid from global;
    composes: mt-xs from global;
    composes: text-sm from global;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.item {
    @apply flex items-center gap-x-xs;
}

.attr {
    @apply text-sm text-text-secondary;
}

.attr span {
    @apply mr-2;
}

.attr .fet span {
    @apply mr-0;
}

.price span {
    @apply text-sm;
}

.total span {
    @apply text-sm;
}
