.items_review_container {
    composes: border-2 from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: rounded-box from global;
    min-height: 2rem;
}

.items_container {
    composes: grid from global;
    composes: px-md from global;
    composes: py-sm from global;
}

.total_quantity {
}

.total_quantity_amount {
    composes: font-semibold from global;
}

.items_title {
    @apply text-lg lg_text-xl font-bold text-text-primary mb-3;
}

.list {
    @apply md_table w-full;
}

.list > li {
    @apply md_table-row md_items-center
    -md_flex -md_flex-wrap -md_pb-3 -md_justify-end;
}

.list > li:not(:last-child) {
    @apply -md_border-b -md_border-neutral-lighter;
}

.list > li:not(:last-child) > div {
    @apply md_border-b md_border-neutral-lighter;
}

.list > li > div {
    @apply md_table-cell md_w-[12%] md_text-center md_align-middle md_py-4
    -md_w-full;
}

.list > li > div:first-child {
    @apply md_w-[40%] text-left;
}
.list > li > div:nth-child(2),
.list > li > div:nth-child(3),
.list > li > div:nth-child(4) {
    @apply -md_w-max -md_mr-4;
}

.th {
    @apply -md_hidden !important;
}

.th > div {
    @apply bg-neutral-light text-sm uppercase;
}

.th > div:first-child {
    @apply pl-4 rounded-tl-md;
}

.th > div:last-child {
    @apply rounded-tr-md;
}
