.root {
    composes: grid from global;
    composes: gap-xs from global;
    composes: justify-items-stretch from global;
}

.buttonContainer {
    composes: items-center from global;
    composes: gap-xs from global;
    composes: lg_grid from global;
    composes: grid-flow-col from global;
    composes: mt-xs from global;
    composes: text-center from global;
    @apply block md_grid;
}

.cancelButton {
    composes: root_lowPriority from '@magento/venia-ui/lib/components/Button/button.module.css';

    @apply block w-full min-w-[9rem] -md_mb-4 rounded-input normal-case p-[11px];
}

.submitButton {
    composes: root_highPriority from '@magento/venia-ui/lib/components/Button/button.module.css';

    @apply block w-full min-w-[9rem] rounded-input normal-case p-[11px];
}
