.root {
    composes: p-xs from global;
    composes: flex from global;
    composes: flex-nowrap from global;

    @apply -lg_flex-col-reverse;
}

.root_container {
    composes: lg_px-xs from global;
}

.noResult {
    composes: flex from global;
}

.headerButtons {
    composes: basis-full from global;
    composes: flex from global;
    composes: justify-center from global;
    composes: mx-0 from global;
    composes: my-xs from global;

    composes: lg_justify-end from global;
}

.headerButtons button {
    @apply bg-white !important;
}

.heading {
    composes: flex from global;
    composes: flex-wrap from global;
    composes: justify-center from global;

    composes: lg_flex-nowrap from global;
    composes: lg_items-center from global;
    composes: lg_justify-between from global;
}

.searchContent {
    composes: lg_flex-grow from global;
}

.searchInfo {
    composes: leading-tight from global;
    composes: max-w-[75vw] from global;
    composes: mb-xs from global;
    composes: ml-0 from global;
    composes: mr-0 from global;
    composes: mt-10 from global;

    composes: lg_m-0 from global;
    @apply lg_basis-[30%] xl_basis-[45%] 3xl_basis-full;
}

.totalPages {
    composes: ml-2xs from global;
}

.headingHighlight {
    composes: font-bold from global;
}

.sidebar {
    composes: lg_flex from global;
    composes: lg_self-start from global;

    @apply flex-col lg_mr-6 lg_min-w-[280px] -lg_mt-8;
}

.sidebar > aside {
    @apply lg_bg-white lg_rounded-xl lg_px-2 lg_shadow-[0_2px_8px_rgba(0,0,0,0.1)];
}

.sidebar div[class^="w-[300px]"] {
    @apply lg_w-[240px] !important;
}

.sidebar div[class^="w-[300px]"] + div,
.sidebar div[class^="w-[300px]"] + div input {
    @apply lg_w-[240px] !important;
}

.selectBlock {
    @apply flex items-center justify-between mb-0 -lg_ml-2;
}

.selectBlock > span {
    @apply -lg_hidden;
}

.selectBlock select {
    @apply min-h-[44px] -lg_rounded-button;
}
