.root {
    composes: max-w-site from global;
    composes: mx-auto from global;
    composes: my-0 from global;
    composes: px-xs from global;
    composes: py-sm from global;
}

.body {
    composes: block from global;
    composes: gap-md from global;
    grid-template-columns: 1fr 18rem;
    /* The summary grid item spans the entire right column. */
    grid-template-areas:
        'items summary'
        'adjustments summary';

    @apply bg-white p-6 rounded-xl shadow-[0_2px_8px_rgba(0,0,0,0.1)];
}

.heading_container {
    composes: gap-y-xs from global;
    composes: grid from global;
    composes: mb-xs from global;
}

.heading {
    composes: leading-tight from global;

    @apply font-bold text-primary-deep text-xl lg_text-2xl mb-4;
}

.cartContent {
    composes: lg_flex-grow from global;
}

.sidebar {
    composes: lg_flex from global;
    composes: lg_self-start from global;
    composes: lg_w-filterSidebarWidth from global;
    flex: 0 0 280px;

    @apply flex-col lg_mr-8;
}

.cartContainer {
    composes: lg_flex from global;
    composes: lg_px-xs from global;
}

.stockStatusMessageContainer {
    composes: empty_hidden from global;
}

.items_container {
    grid-area: items;
    @apply mb-8;
}

.price_adjustments_container {
    grid-area: adjustments;

    @apply hidden;
}

.summary_container {
    composes: h-full from global;
    grid-area: summary;
}

.summary_contents {
    composes: sticky from global;
    /*
     * TODO: Use CSS Properties (variables) or something instead of hardcoding this.
     *  - 3.5rem = min-height of nav header. See the "toolbar" class in header.css.
     *  - 2rem = padding-top of the cart page.
     */
    composes: top-[5.5rem] from global; /* TODO @TW: review */
}

@media screen(-lg) {
    .body {
        /* Only one column in mobile view. */
        grid-template-columns: 100%;
        grid-template-areas:
            'items'
            'adjustments'
            'summary';
    }
}
