.buttonContainer {
    @apply mt-2 md_text-right mb-6;
}
.submitButton {
    @apply rounded-md bg-accent-green border-accent-green normal-case text-base font-bold text-white min-w-[160px] p-[10px] transition-all
    hover_bg-accent-green hover_border-accent-green hover_shadow-[0_4px_12px_rgba(74,74,74,0.2)] hover_translate-y-[-2px];
}

.usersTable {
    @apply grid gap-0 mb-6;
}

.th {
    @apply grid border-b -lg_hidden;
    grid-template-columns:
            minmax(40%, 1fr) minmax(22%, 1fr) minmax(22%, 1fr) minmax(16%, 1fr);

    > div {
        @apply bg-neutral-light text-sm uppercase pl-4 py-4 pr-0;

        &:first-child {
             @apply pl-4 rounded-tl-md;
        }
        &:last-child {
             @apply rounded-tr-md;
        }
    }
}

.user {
    composes: border from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: grid from global;
    composes: grid-cols-2 from global;
    composes: rounded-none from global;

    @apply border-0 border-b last_border-0;

    > div {
        @apply pl-4 py-4 pr-0;
    }
}

.editBtn {
    @apply text-sm underline mr-4;
}

.deleteBtn {
    @apply text-sm underline text-primary-red;
}

.userEmail,
.userFirstName,
.userLastName {
    @apply break-words;
}

[data-cy="Add New User"],
[data-cy="Delete User"],
[data-cy="Edit User"] {
    > div {
        @apply overflow-x-hidden;
    }

    [data-cy="Dialog-headerText"] {
        @apply text-lg lg_text-xl font-bold text-text-primary my-2 block;
    }

    [data-cy="Dialog-cancelButton"] {
        @apply rounded-md bg-white text-accent-green border-accent-green normal-case text-base p-[10px] transition-all
        hover_bg-white hover_text-accent-green hover_border-accent-green hover_shadow-[0_4px_12px_rgba(74,74,74,0.2)] hover_translate-y-[-2px];
    }

    [data-cy="Dialog-confirmButton"] {
        @apply rounded-md bg-accent-green border-accent-green normal-case text-base p-[10px] transition-all
        hover_bg-accent-green hover_border-accent-green hover_shadow-[0_4px_12px_rgba(74,74,74,0.2)] hover_translate-y-[-2px];
    }
}

[data-cy="Delete User"] {
    [class^="dialog-contents"] {
        h3 {
            @apply text-center text-lg lg_text-xl font-bold text-text-primary text-primary-navy mt-4;

            span {
                @apply block mt-4 text-base font-normal text-text-primary break-words;
            }
        }
    }
}

[data-cy="Edit User"] {
    [for="id"],
    [for="id"] + span {
        @apply sr-only;
    }
}

.changePassword {
    @apply inline-block mt-4 underline text-primary-navy transition-all hover_text-accent-orange;
}

.changePasswordBlock {
    @apply mt-6;
}

@media screen(lg) {
    .user {
        grid-template-columns:
            minmax(40%, 1fr) minmax(22%, 1fr) minmax(22%, 1fr) minmax(16%, 1fr);
    }
}

