.root {
    composes: border from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: grid from global;
    composes: grid-cols-2 from global;
    composes: rounded-none from global;

    @apply border-0 border-b last_border-0;
}

@media screen(lg) {
    .root {
        grid-template-columns:
            minmax(25%, 1fr) minmax(25%, 1fr) minmax(25%, 1fr)
            9rem 2fr 3rem;
    }

    .orderNumberLabel,
    .orderDateLabel,
    .orderTotalLabel {
        @apply hidden;
    }
}

.orderNumberContainer {
    composes: border-0 from global;
    composes: gap-x-2xs from global;
    composes: gap-y-1 from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: items-center from global;
    composes: justify-start from global;
    composes: overflow-hidden from global;
    composes: p-sm from global;

    composes: lg_gap-x-0 from global;
    composes: lg_grid-flow-row from global;
    composes: lg_items-left from global;
}

.orderDateContainer {
    composes: border-0 from global;
    composes: gap-y-1 from global;
    composes: grid from global;
    composes: overflow-hidden from global;
    composes: p-sm from global;
}

.orderTotalContainer {
    composes: border-0 from global;
    composes: gap-y-1 from global;
    composes: grid from global;
    composes: overflow-hidden from global;
    composes: p-sm from global;
}

.orderStatusContainer {
    composes: border-0 from global;
    composes: col-end-span2 from global;
    composes: gap-y-1 from global;
    composes: grid from global;
    composes: overflow-hidden from global;
    composes: p-sm from global;
    composes: max-lg_empty_hidden from global;

    composes: lg_col-end-auto from global;
    composes: lg_gap-y-3 from global;


}

.orderItemsContainer {
    composes: border-0 from global;
    composes: col-end-span2 from global;
    composes: overflow-hidden from global;
    composes: p-0 from global;
    composes: py-sm from global;

    composes: lg_col-end-auto from global;
    composes: lg_p-0 from global;
}

.contentToggleContainer {
    composes: border-0 from global;
    composes: col-start-2 from global;
    composes: justify-self-end from global;
    composes: overflow-hidden from global;
    composes: px-xs from global;
    composes: py-0 from global;
    composes: row-start-1 from global;

    composes: lg_col-start-6 from global;
    composes: lg_px-xs from global;
    composes: lg_row-start-1 from global;
}

.orderNumberLabel,
.orderDateLabel,
.orderTotalLabel {
    composes: text-2xs from global;
}

.orderNumber,
.orderDate,
.orderTotal {
    @apply text-text-primary text-sm;
}

.orderNumberLabel {
    @apply hidden;
}

.orderNumber {
    @apply text-lg font-bold text-primary-deep;
}

.orderStatusBadge {
    composes: border from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: font-bold from global;
    composes: justify-self-start from global;
    composes: px-xs from global;
    composes: py-1 from global;
    composes: rounded-badge from global;
    composes: text-2xs from global;

    @apply block h-[26px];
}

.content {
    composes: border-t from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: p-sm from global;
    grid-column: 1 / -1;
}

.content_collapsed {
    composes: hidden from global;
}

.orderNumberContainer,
.orderDateContainer,
.orderTotalContainer,
.orderItemsContainer,
.orderStatusContainer {
    @apply pl-4 py-2 pr-0;
}

@media screen(-lg) {
    .orderNumberContainer {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
}
