.root {
    composes: max-w-site from global;
    composes: mx-auto from global;
    composes: my-0 from global;
    composes: px-sm from global;
    composes: py-md from global;

    composes: lg_flex from global;
    composes: lg_px-md from global;
}
.sidebar {
    composes: lg_flex from global;
    composes: lg_self-start from global;
    flex: 0 0 280px;

    @apply flex-col lg_mr-8;
}

.content {
    composes: lg_flex-grow from global;
}

.heading {
    composes: font-bold from global;
    composes: font-serif from global;
    composes: justify-self-center from global;
    composes: capitalize from global;

    @apply block w-full;
}

.head_title {
    @apply font-bold text-left text-primary-deep text-xl lg_text-2xl mb-4;
}

.emptyHistoryMessage {
    composes: text-center from global;
}

.orderHistoryTable {
    composes: grid from global;
    composes: gap-y-xs from global;
}

.orders_content {
    @apply bg-white rounded-xl p-4 lg_p-6 shadow-[0_2px_8px_rgba(0,0,0,0.1)] mb-6;
}

.filterRow {
    composes: block from global;
    composes: flex-col from global;
    composes: gap-y-xs from global;
    composes: items-start from global;
    composes: justify-between from global;

    composes: lg_flex-row from global;
    composes: lg_gap-y-0 from global;
    composes: lg_items-center from global;

    @apply bg-white rounded-xl p-4 lg_p-6 shadow-[0_2px_8px_rgba(0,0,0,0.1)] mb-6;
}

.pageInfo {
    composes: text-sm from global;
}

.pageInfo_container {
    @apply flex justify-end pb-2;
}

.title {
    @apply text-lg lg_text-xl font-bold text-text-primary mb-3;
}

.search {
    composes: gap-2xs from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: justify-self-center from global;
    composes: w-full from global;

    composes: lg_gap-xs from global;
    composes: lg_justify-self-left from global;

    @apply items-end;
}

.searchButton {
    composes: root_highPriority from '@magento/venia-ui/lib/components/Button/button.module.css';

    composes: h-[2rem] from global;
    @apply w-full max-w-[5rem] normal-case;
}

.submitIcon {
    composes: text-white from global;
}

.loadMoreButton {
    composes: root_lowPriority from '@magento/venia-ui/lib/components/Button/button.module.css';

    composes: justify-self-center from global;
}
