.images {
    max-width: 90px;
    width: 100%;
    @media(max-width: 700px) {
        max-width: 260px;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width: 700px) {
        flex-direction: row-reverse;
        margin-top: 25px;
        padding: 0 15px;
        width: 100%;
        justify-content: space-between;
    }

    @apply md_min-w-[146px] md_pl-4 md_border-l;
}

.root {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-bottom: 20px;
    padding: 10px;
    @media(max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }

    @apply md_items-center;
}

.name {
    width: 100%;
    color: var(--color-primary-deep, #1A2C5B);
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600;
}

.price {
    color: var(--color-primary-deep);
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;
}

.actionsContainer {
    display: flex;
}

.actionsContainer button {
    padding: 11px 10px 10px !important;
    background: var(--color-accent-orange) !important;
    border-color: var(--color-accent-orange) !important;

    @apply min-w-[100px] md_min-w-[130px] m-0;
}

.actionsContainer button :hover {
    background: var(--color-button-primary-hover) !important;
    border-color: var(--color-button-primary-hover) !important;
}

.attrs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: 10px;
}

.attrs__item {
    display:  inline-block;
    padding-right: 5px;

    @apply text-sm font-normal text-black;
}

.attrs__item b {
    @apply font-normal;
}

.attributes {
    @apply px-4 lg_min-w-[150px] -sm_w-full md_border-l;
}

.attributes .attrs__item {
    @apply after_hidden;
}

.attributes .attrs__item span {
    @apply font-bold text-primary-deep;
}

.qty_block {
    @apply flex pt-2;
}

.qty_block button {
    @apply flex disabled_opacity-[0.3];
}
.qty_block input[type=number] {
    @apply border-0 outline-none w-[60px] text-center text-sm;
}
.qty_block input[type=number]::-webkit-inner-spin-button,
.qty_block input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.attrs__item:after{
    content: ' | ';
    display: inline-block;
    padding-left: 5px;
}

.attrs__item:last-child:after{
    content: '';
}

.maxMessage {
    @apply text-xs text-text-secondary mt-1;
}
