.images {
    max-width: 90px;
    width: 100%;
    @media(max-width: 700px) {
        max-width: 260px;
    }
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width: 700px) {
        flex-direction: row-reverse;
        margin-top: 25px;
        padding: 0 15px;
        width: 100%;
        justify-content: space-between;
    }
}

.root {
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    margin-bottom: 20px;
    padding: 10px;
    @media(max-width: 700px) {
        flex-direction: column;
        align-items: center;
    }
}

.name {
    width: 100%;
    color: var(--color-primary-deep, #1A2C5B);
    padding: 0 15px;
    font-size: 18px;
    font-weight: 600;
}

.price {
    color: var(--color-primary-deep);
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;
}



.actionsContainer {
    display: flex;
}

.actionsContainer button {
        min-width: 160px !important;
        padding: 10px !important;
        background: var(--color-accent-orange) !important;

        @media(max-width: 700px) {
            min-width: 130px !important;
        }
    }


.attrs {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    font-size: 14px;
    margin-top: 10px;
}

.attrs__item {
    display:  inline-block;
    padding-right: 5px;
}

.attrs__item:after{
    content: ' | ';
    display: inline-block;
    padding-left: 5px;
}

.attrs__item:last-child:after{
    content: '';
}
