/* prettier-ignore */
.root {
    composes: max-w-site from global;
    composes: mx-auto from global;
    composes: my-0 from global;
    composes: px-sm from global;
    composes: py-md from global;

    composes: lg_flex from global;
    composes: lg_px-md from global;

    @apply flex -lg_flex-col-reverse;
}

.sidebar {
    composes: lg_flex from global;
    composes: lg_self-start from global;
    composes: lg_w-filterSidebarWidth from global;
    flex: 0 0 280px;

    @apply flex-col lg_mr-8 -lg_mt-8;
}

.content {
    composes: lg_flex-grow from global;
}

.heading {
    composes: leading-tight from global;

    @apply font-bold text-primary-deep text-xl lg_text-2xl mb-4;
}

.mainContainer,
.itemsReview {
    @apply bg-white p-6 rounded-xl shadow-[0_2px_8px_rgba(0,0,0,0.1)] mb-6;
}

.mainContainer {
    @apply text-center lg_py-8;
}

.sidebarContainer {

}

.header {
    composes: font-semibold from global;
}

.text {
    composes: leading-normal from global;
}

.orderNumber {
    @apply font-bold text-primary-deep text-lg lg_text-xl my-4;
}

.order_number {
    @apply text-accent-orange;
}

.button_container {
    @apply text-center block;
}

.link {
    @apply inline-block border-0 text-white rounded-[33px] py-3 px-[25px] text-base font-bold shadow-[0_4px_12px_rgba(74,74,74,0.2)] transition-all bg-primary-navy hover_bg-primary-deep relative
    md_text-lg md_px-10 md_py-3;
    @apply normal-case !important;
}

.link:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(74,74,74, 0.3);
}

.shippingInfoHeading {
    composes: header;
}

.shippingInfo {
    composes: text;
    composes: grid from global;
}

.shippingAddress {
    composes: grid from global;
}

.shippingMethodHeading {
    composes: header;
}

.shippingMethod {
    composes: text;
}

.additionalText {
    composes: text;
}

.itemsReview > div {
    @apply p-0 border-0;
}

.itemsReview > div > div {
    @apply p-0 border-0;
}
