.root {
    composes: grid from global;
    composes: gap-xs from global;
    composes: justify-items-stretch from global;
    composes: p-0 from global;
    @apply pb-2 lg_pb-4;
}

.title {
    composes: pt-2xs from global;

    @apply font-bold text-primary-deep text-xl lg_text-2xl mb-4;
}

.instructions {
    composes: font-light from global;
    composes: leading-tight from global;
}
