.container {
    @apply relative min-h-[19px];
}

.listContainer {
    @apply hidden absolute top-[28px] left-2 border bg-white min-w-[290px] py-2;
}

.listContainer.open {
    @apply block;
}

.listContainer ul {
    @apply max-h-[400px] overflow-y-auto;
}

.locationInfo {
    @apply cursor-pointer px-4 flex relative;
}

.locationInfoPunchout {
    @apply px-4 flex relative;
}

.locationInfo strong,
.locationInfoPunchout strong{
    @apply ml-2;
}

.locationIcon {
    @apply ml-2 text-primary-deep transition-all;
}

.tooltipContainer {
    @apply text-center normal-case absolute bottom-[22px] right-[-20px] border rounded bg-white min-w-[180px] p-2 transition-all opacity-0 invisible;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.locationTooltip {
    @apply relative;
}

.locationTooltip:hover .locationIcon {
    @apply text-text-secondary;
}

.locationTooltip:hover .tooltipContainer {
    @apply opacity-100 visible bottom-[24px];
}

.locationInfoText {
    @apply px-4;
}

.item {
    @apply block py-2 px-4 cursor-pointer text-left hover_bg-brand-light hover_text-brand transition-all;
}

.searchContainer {
    @apply px-4 mb-2;
}

.search {
    composes: input from '@magento/venia-ui/lib/components/TextInput/textInput.module.css';
    @apply block w-full;
}

@media (min-width: 1500px) {
    .tooltipContainer {
        @apply right-auto left-[50%] translate-x-[-50%];
    }
}
