.root {
    composes: border from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: grid from global;
    composes: grid-cols-2 from global;
    composes: rounded-none from global;

    @apply border-0 border-b last_border-0;
}

@media screen(lg) {
    .root {
        grid-template-columns:
            4rem 1fr minmax(15%, 1fr) minmax(15%, 1fr) minmax(15%, 1fr) minmax(15%, 1fr);
    }

    .invoiceNumberLabel,
    .invoiceDateLabel,
    .invoiceTotalLabel {
        @apply hidden;
    }
}

.invoiceNumberContainer {
    composes: border-0 from global;
    composes: gap-x-2xs from global;
    composes: gap-y-1 from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: items-center from global;
    composes: justify-start from global;
    composes: overflow-hidden from global;
    composes: p-sm from global;

    composes: lg_gap-x-0 from global;
    composes: lg_grid-flow-row from global;
    composes: lg_items-left from global;
}

.invoiceDateContainer {
    composes: border-0 from global;
    composes: gap-y-1 from global;
    composes: grid from global;
    composes: overflow-hidden from global;
    composes: p-sm from global;
}

.invoiceTotalContainer {
    composes: border-0 from global;
    composes: gap-y-1 from global;
    composes: grid from global;
    composes: overflow-hidden from global;
    composes: p-sm from global;
}

.invoiceStatusContainer {
    composes: border-0 from global;
    composes: col-end-span2 from global;
    composes: gap-y-1 from global;
    composes: grid from global;
    composes: overflow-hidden from global;
    composes: p-sm from global;
    composes: max-lg_empty_hidden from global;

    composes: lg_col-end-auto from global;
    composes: lg_gap-y-3 from global;


}

.invoiceItemsContainer {
    composes: border-0 from global;
    composes: col-end-span2 from global;
    composes: overflow-hidden from global;
    composes: p-0 from global;
    composes: py-sm from global;

    composes: lg_col-end-auto from global;
    composes: lg_p-0 from global;
}

.invoiceNumberLabel,
.invoiceDateLabel,
.invoiceTotalLabel {
    composes: text-2xs from global;
}

.invoiceNumber,
.invoiceDate,
.invoiceTotal {
    @apply text-text-primary text-sm;
}

.invoiceDateOverdue {
    @apply text-primary-red;
}

.orderNumberLabel {
    @apply hidden;
}

.invoiceNumber {
    @apply text-base font-bold text-primary-deep;
}

.invoiceStatusPaid,
.invoiceStatusOpen,
.invoiceStatusOverdue {
    @apply text-sm font-bold;
}

.invoiceStatusPaid {
    @apply text-accent-green;
}

.invoiceStatusOpen {
    @apply text-brand-base;
}

.invoiceStatusOverdue {
    @apply text-primary-red;
}

.content {
    composes: border-t from global;
    composes: border-solid from global;
    composes: border-subtle from global;
    composes: p-sm from global;
    grid-column: 1 / -1;
}

.content_collapsed {
    composes: hidden from global;
}

.invoiceNumberContainer,
.invoiceDateContainer,
.invoiceTotalContainer,
.invoiceItemsContainer,
.invoiceStatusContainer {
    @apply pl-4 py-4 pr-0 -lg_pl-0 -lg_pt-1;
}

.invoiceTotalContainer {
    @apply lg_pl-1 lg_pr-4 lg_text-right;
}

.invoiceNumberContainer,
.invoiceDateContainer,
.invoiceTotalContainer,
.invoiceItemsContainer {
    @apply -lg_pb-0;
}

.invoiceCheckbox {
    @apply pt-2 lg_pl-3 lg_py-4;
}

.root_label {
    --stroke: var(--venia-global-color-gray-600);

    composes: gap-3 from global;
    composes: grid from global;
    composes: grid-flow-col from global;
    composes: items-center from global;
    composes: justify-items-center from global;
    composes: leading-normal from global;
    composes: text-colorDefault from global;
    grid-template-areas: 'input label';
    grid-template-columns: min-content 1fr;
}

.input {
    composes: appearance-none from global;
    composes: bg-transparent from global;
    composes: border-2 from global;
    composes: border-solid from global;
    composes: border-transparent from global;
    composes: cursor-pointer from global;
    composes: h-[1.5rem] from global;
    composes: rounded from global;
    composes: w-[1.5rem] from global;
    grid-area: input;

    composes: disabled_cursor-not-allowed from global;

    composes: active_enabled_shadow-radioActive from global;
    composes: active_enabled_outline-0 from global;

    composes: focus_enabled_shadow-radioFocus from global;
    composes: focus_enabled_outline-0 from global;
}

.icon {
    composes: h-[1.5rem] from global;
    composes: pointer-events-none from global;
    composes: w-[1.5rem] from global;
    grid-area: input;
}

.icon svg {
    stroke: rgb(var(--stroke));
}

.input:disabled ~ .label {
    @apply cursor-default;
}

.input:checked:enabled + .icon {
    --stroke: var(--venia-brand-color-1-700);
}

.root_label .label {
    @apply lg_hidden;
}

@media screen(-lg) {
    .invoiceNumberContainer {
        grid-column: 1 / span 2;
        grid-row: 1;
    }
}
